<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body modal-body-sub_agile">
				<div class="col-md-8 modal_body_left modal_body_left1">
					<h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
						<div class="styled-input agile-styled-input-top">
							<%= f.text_field :name, autofocus: true, required: true %>
							<%= f.label :name %>
							<span></span>
						</div>
						<div class="styled-input">
							<%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
							<%= f.label :email %>
							<span></span>
						</div>
						<div class="styled-input">
							<%= f.password_field :password, autocomplete: "off", required: true %>
							<%= f.label :password %>
							<span></span>
						</div>
						<div class="styled-input">
							<%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
							<%= f.label :password_confirmation %>
							<span></span>
						</div>
						<%= f.submit "Sign up" %>
					<% end -%>
					<%= render 'shared/social' %>
					<div class="clearfix"></div>
					<p><a href="#">By clicking register, I agree to your terms</a></p>
				</div>
				<div class="col-md-4 modal_body_right modal_body_right1">
					<%=  image_tag "log_pic.jpg", alt: " " %>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //Modal content-->
	</div>
</div>
<!-- //Modal2 -->
