<div class="footer">
	<div class="footer_agile_inner_info_w3l">
		<%= render 'shared/footer/left/col' %>
		<div class="col-md-9 footer-right">
			<div class="sign-grds">
				<%= render 'shared/footer/right/col-1' %>
				<%= render 'shared/footer/right/col-2' %>
				<%= render 'shared/footer/right/col-3' %>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<%= render 'shared/footer/newsletter' %>
		<%= render 'shared/footer/copyright' %>
	</div>
</div>
